.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'poppins' , cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'monsterat', cursive;
}

img {
  width: 80%;
}
.btn-container{
  padding: 15px 40px;
  margin: 20px;
  display: block;
  justify-content: center;
  border-radius: 10px;
}
button{
  display: block;
  margin: 20px auto;  
  padding: 10px 20px; 
  font-size: 20px;     
  border-radius: 10px;  
  cursor: pointer;
  font-weight: 200;
  background-color: antiquewhite;
  color: rgb(45, 44, 44);
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
